* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: hsl(13, 31%, 94%);
  font-family: "Red Hat Text", sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 0px 64px;
}

.catalog .heading {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.catalog .heading .show-cart {
  display: none;
}

.catalog .heading .cart-icon {
  position: relative;
}

.catalog .heading .cart-icon img {
  border: 2px solid hsl(14, 86%, 42%);
  border-radius: 6px;
  padding: 16px;
}

.catalog .heading .cart-icon .uniq-count {
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  left: 28px;
  top: -4px;
  border-radius: 50%;
  padding: 4px;
}

.catalog .heading-text {
  font-size: 2rem;
}

.catalog .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 18px;
}

.catalog > .items .item {
  width: 180px;
  position: relative;
}

.catalog > .items > .item .product-photo {
  width: 100%;
  border-radius: 6px;
}

.item .mobile,
.item .tablet {
  display: none;
}

.catalog > .items > .item .details {
  padding-top: 20px;
}

.catalog > .items > .item .category {
  color: hsl(7, 20%, 60%);
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 6px;
}

.catalog > .items > .item .name {
  font-weight: 700;
  padding-bottom: 6px;
}

.catalog > .items > .item .price {
  color: hsl(14, 86%, 42%);
  font-weight: 700;
  padding-bottom: 6px;
}

.button {
  border: 1.5px solid hsl(12, 20%, 44%);
  border-radius: 25px;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 150px;
  left: 20px;
  background-color: #fff;
}

.button > img {
  height: 15px;
}

.button:hover {
  border: 1.5px solid hsl(14, 86%, 42%);
  color: hsl(14, 86%, 42%);
  cursor: pointer;
}

.selected-btn {
  display: inline-flex;
  background-color: hsl(14, 86%, 42%);
  border-color: hsl(14, 86%, 42%);
  justify-content: space-between;
  padding: 8px 6px;
  left: 24px;
  right: 23px;
}
.selected-btn img {
  width: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2px;
}

.selected-btn span {
  color: #fff;
  font-weight: 500;
}

.selected {
  display: block;
  border: 2px solid hsl(14, 86%, 42%);
}

.cart {
  background-color: #fff;
  padding: 20px;
  min-width: 300px;
  margin-top: 16px;
  border-radius: 12px;
}

.cart .heading {
  color: hsl(14, 86%, 42%);
  display: flex;
  padding-bottom: 16px;
}
.cart .quantity {
  text-align: center;
}

.cart #empty {
  padding-bottom: 10px;
}

.cart .message {
  font-weight: 500;
  font-size: 12px;
  color: hsl(12, 20%, 44%);
}

.cart .cancel-btn {
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 10px;
  display: none;
}

.cart .cancel-btn img {
  background-color: hsl(14, 86%, 42%);
  text-align: center;
  border: 2px solid hsl(14, 86%, 42%);
  transform: rotate(45deg);
  border-radius: 50%;
  padding: 4px;
  width: 30px;
  border-radius: 50%;
}

.cart .message {
  width: 100%;
  background-color: hsl(13, 31%, 94%);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  margin: 10px 0px;
}

.cart .order-btn {
  position: static;
  background-color: hsl(14, 86%, 42%);
  border: 2px solid hsl(14, 86%, 42%);
  color: #fff;
  font-size: 16px;
}

.buying {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.item-details {
  display: flex;
  gap: 16px;
}

.thumbnail {
  border-radius: 25%;
  width: 50px;
  height: 50px;
}

.item-info {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item-price span {
  padding-right: 5px;
}

.item-info .quantity {
  color: hsl(14, 86%, 42%);
}

.item-info .price,
.item-total {
  color: hsl(12, 20%, 44%);
}
.item-total {
  font-weight: 700;
}

.delete-item {
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  border: 2px solid #caafa7;
}

.separator {
  height: 2px;
  background-color: hsl(13, 31%, 94%);
}

.order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding: 24px 0px;
}

.total-price {
  font-size: 28px;
  font-weight: 900;
}

@media (max-width: 1210px) {
  .container {
    max-width: 85vw;
  }
  .item {
    max-width: 140px;
  }

  .card-button,
  .selected-btn {
    padding: 7px 12px;
    top: 114px;
    left: 12px;
    font-size: 12px;
  }

  .selected-btn {
    right: 14px;
  }
}
@media (max-width: 1080px) {
  .item {
    max-width: 120px;
  }

  .card-button,
  .selected-btn {
    top: 96px;
    left: 9px;
    padding: 7px;
  }

  .selected-btn {
    right: 9px;
  }

  .cart {
    min-width: 260px;
  }

  .name {
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .item {
    max-width: 156px;
  }

  .card-button,
  .selected-btn {
    top: 130px;
    left: 16px;
    padding: 7px 18px;
  }

  .selected-btn {
    right: 15px;
    padding: 7px 6px;
  }
}

@media (max-width: 752px) {
  .container {
    padding: 0 48px;
  }
  .item .desktop {
    display: none;
  }

  .item .tablet {
    display: block;
  }

  .card-button,
  .selected-btn {
    top: 104px;
    left: 11px;
    padding: 7px 7px;
  }

  .selected-btn {
    right: 12px;
    padding: 7px 6px;
  }

  .catalog > .items .item {
    max-width: 124px;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: row;
  }

  .cart-container {
    display: none;
  }

  .show-container {
    display: flex;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    /* transform: scale(1); */
  }

  .show-container .cart {
    position: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: popUp 0.5s ease-out forwards;
  }

  @keyframes popUp {
    0% {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  .catalog .heading .show-cart {
    display: inline-flex;
  }

  .selected-btn {
    right: 66px;
    padding: 8px 6px;
  }

  .catalog > .items > .item .details {
    padding-top: 16px;
  }

  .cart .show-btn {
    display: block;
  }

  .catalog .heading {
    font-size: 32px;
    padding: 12px;
  }

  .container {
    padding: 0px 24px;
  }

  .item .mobile {
    display: inline-block;
  }

  .item .tablet {
    display: none;
  }

  .catalog .items {
    justify-content: space-around;
  }

  .catalog > .items .item {
    min-width: 320px;
  }

  .card-button,
  .selected-btn {
    font-size: 18px;
    padding: 8px 30px;
    top: 185px;
    left: 65px;
  }

  .catalog > .items > .item .details {
    padding-top: 22px;
  }

  .catalog > .items > .item .category {
    font-size: 16px;
  }

  .catalog > .items > .item .name {
    font-size: 20px;
  }

  .catalog > .items > .item .price {
    font-size: 20px;
  }

  .cart {
    min-width: 320px;
  }

  .cart .order-btn {
    font-size: 16px;
  }
}
